.App-bodyAdmin{
  background-color: gray;
  display: 'flex'; 
  margin-Top:spacing(8);
  margin-Bottom: spacing(2);

 }
 .App-header {
  background-color: #F2F3F5;
  margin-Top:spacing(8);
  margin-Bottom: spacing(2);
  display: 'flex'; 
  
  }
.App {
  text-align: center;
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Portada {
  height: auto; 
  pointer-events: auto;
  max-width: 100%;
  background-color: #d0d1d3;
}


.App-Body {
  margin-top: 4vmin;
  text-align: center;
  background-color: red;
  
}

.App-link {
  color: #61dafb;
}

.App-LogoIsabella{
  width: 100%;
  max-width: 160px;
  height: 60px; 
  margin-right: 3vmin;
}

.App-Footer {

  background-color:white;
  height: 60px; 
  padding: spacing(3,2);
  margin-top: auto;
}
